.blueShadow{
  box-shadow:0 5px 30px 0 rgba(2, 4, 32, 0.247) !important;
}
.float-scroll{
  position: fixed;
  bottom: 0;
  left: 47%;
  margin-bottom: 5px;
}
button{
  display: flex;
  align-items: center;
  border: none;
  color: red;
  padding: 15px;
  color: white;
  background: #0F3E60;
  border-radius: 35px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 70px;
  /* pointer-events: none; */
}

.underline{
  text-decoration: underline solid #0F3E60;
}

.header {
  background-color: rgba(13, 13, 13, .2);
  backdrop-filter: blur(4px);
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(10px + 2vmin); */
  color: #84afce;
  padding: 15px 0px 15px 0px;
  /* box-shadow:0 5px 30px 0 rgba(0,0,0,0.05) !important; */
}
section{
  height: 100vh;
  scroll-snap-align: start;
  padding: 2rem;
}
.header .react-icons {
  color: red;
}
lottie-player{
  height: 70px;
}
.social-icons-ul{
  list-style: none;
  display: flex;
}
.social-icons-ul li {
  margin-right: 15px;
}
.social-icons{
  color: white;
}

.jumbotron{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 100vh;
  background-image: linear-gradient(rgba(13, 13, 13, .9), rgba(13, 13, 13, .55)), url('./imgs/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.jumbotron h1{
  font-size: 7em;
  color: transparent;
  letter-spacing: 20px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:white;
}
.jumbotron h2{
  font-size: 2.8em;
  color: white;
  font-weight: 300;
}
.about{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about h2{
  font-weight: 500;
  font-size: 2.5em;
}
.about h3{
  font-weight: 100;
  font-size: 1.3em;
}
.about p{
  font-size: 1em;
  color: #e6e6e6;
  line-height: 1.8;
}
.benefits-grid{
  display: grid;
  width: 80vw;
  grid-gap: 15px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.discord{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.discord h2{
  font-size: 1.9rem;
}
.discord-print{
  flex-grow: 1;
  align-self: right;
}
.discord-img{
  border-radius: 15px;
  height: 450px;
}
.discord-description{
  width: 250px;
  text-align: left;
  padding: 15px;
  flex-grow: 2;
}
.streamers{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.streamers-grid{
  display: grid;
  grid-auto-flow: row;
  width: 60vw;
  grid-gap: 10px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

